.u-center-text {
    text-align: center;
}

.u-m-bottom-v-large {
    margin-bottom: rem(80);
}

.u-m-bottom-large {
    margin-bottom: rem(60);
}

.u-m-bottom-medium {
    margin-bottom: rem(40);
}

.u-m-bottom-small {
    margin-bottom: rem(15px);
}
