$lightGreen: #7ed56f;
$midGreen: #55c57a;
$darkGreen: #28b485;

$lightYellow: #ffb900;
$darkYellow: #ff7738;

$lightBlue: #2998ff;
$darkBlue: #5643fa;

$gray-light-1: #f7f7f7;
$gray-light-2: #eee;

$gray: #777;
$grayDark: #999;
$grayDarkest: #333;

$white: #fff;
$black: #000;

$gutter-x: 3.75rem;
$gutter-y: 5rem;
$gutter-y-small: 3.75rem;

$columns: 12;


$default-box-shadow: 0 rem(15) rem(40) rgba($black, 0.15);
