.card {

    // Functionality
    perspective: rem(1500);
    position: relative;
    height: rem(520);

    &__side {
        height: rem(520);
        @include trans(.8);
        position: absolute 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: $default-box-shadow;

        &--front {
            background-color: $white;
        }

        &--back {
            transform: rotateY(180deg);

            &--1 {
                background-image: linear-gradient(to right bottom, $lightYellow, $darkYellow);
            }

            &--2 {
                background-image: linear-gradient(to right bottom, $lightGreen, $darkGreen);
            }

            &--3 {
                background-image: linear-gradient(to right bottom, $lightBlue, $darkBlue);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    } // Front side styling
    &__picture {
        background-size: cover;
        height: rem(230);
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &--1 {
            background-image: linear-gradient(to right bottom, $lightYellow, $darkYellow), url('../images/nat-5.jpg');
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $lightGreen, $darkGreen), url('../images/nat-6.jpg');
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $lightBlue, $darkBlue), url('../images/nat-7.jpg');
        }
    }

    &__heading {
        font-size: rem(28);
        font-weight: 300;
        text-align: right;
        text-transform: uppercase;
        color: $white;
        position: absolute;
        top: rem(120);
        right: rem(20);
        width: 75%;
        z-index: 6;
    }

    &__heading-span {
        padding: rem(10) rem(15);
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom,
            rgba($lightYellow, 0.85),
            rgba($darkYellow, 0.85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom,
            rgba($lightGreen, 0.85),
            rgba($darkGreen, 0.85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom,
            rgba($lightBlue, 0.85),
            rgba($darkBlue, 0.85));
        }

    }

    &__details {
        padding: rem(30);

        ul {
            list-style-type: none;
            width: 80%;
            @include m--auto;
        }

        li {
            text-align: center;
            font-size: rem(15);
            padding: rem(10);

            &:not(:last-child) {
                border-bottom: 1px solid $gray-light-2;
            }
        }
    }

    &__cta {
        top: center;
        left: center;
    }

    &__price {
        color: $white;
        text-align: center;
        margin-bottom: rem(80);

        &--only {
            font-size: rem(14);
            text-transform: uppercase;
        }

        &--value {
            font-size: rem(60);
            font-weight: 100;
        }

    }
}




@include respond(tab-port) {
    .card {
        perspective: rem(1500);
        position: relative;
        height: auto;
        background-color: $white;
        box-shadow: $default-box-shadow;
        overflow: hidden;

        &__side {
            height: auto;
            position: relative 0;
            width: 100%;
            box-shadow: none;

            &--back {
                transform: rotateY(0);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            }
        }

        &:hover &__side--front {
            transform: rotateY(0);
        }

        &__details {
            padding: rem(10) rem(30);
        }

        &__cta {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;
            text-align: center;
            padding: rem(70) rem(40) rem(40) rem(40);
        }

        &__price {
            margin-bottom: rem(30);

            &--value {
                font-size: rem(40);
            }

        }
    }
}
