.header {
    height: 95vh;
    max-width: 100%;
    background-image: linear-gradient(to right, rgba($lightGreen, 0.8), rgba($darkGreen, 0.8)), url('../images/hero.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%);
    position: relative;

    @include respond(phone) {
        clip-path: polygon(0% 0%, 100% 0%, 100% 85vh, 0% 100%);
    }


    &__logo {
        position: absolute;
        top: rem(40px);
        left: rem(40px);

        &__img {
            height: rem(35px);
        }
    }

    &__text-content {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        @include respond(tab-port) {
            top: 50%;
        }
    }
}
