.section-about {
    background-color: $gray-light-1;
    padding: rem(250) 0;
    margin-top: -20vh;

    @include respond(tab-port) {
        padding: rem(250) 0 rem(200) 0;
    }

    @include respond(phone) {
        padding: rem(200) 0 rem(150) 0;
    }
}

.section-features {
    padding: rem(180) 0;
    background-image: linear-gradient(to right, rgba($lightGreen, 0.8), rgba($darkGreen, 0.8)), url('../images/nat-4.jpg');
    background-size: cover;
    background-position: top;
    margin-top: rem(-100);
    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }

    @include respond(tab-port) {
        padding: rem(120) 0 rem(90) 0;
    }

}

.section-tours {
    background-color: $gray-light-1;
    padding: rem(200) 0 rem(150) 0;
    margin-top: rem(-100);

    @include respond(tab-port) {
        padding: rem(200) 0 rem(100) 0;
    }
}

.section-stories {
    padding: rem(150) 0;
    position: relative;

    @include respond(tab-port) {
        padding: rem(100) 0;
    }

}

.section-book {
    padding: rem(150) 0;
    background-image: linear-gradient(to right bottom, $lightGreen, $darkGreen);

    @include respond(tab-port) {
        padding: rem(100) 0;
    }

}

.book {
    background-image: linear-gradient(105deg,
                                rgba($white, 0.9) 0%,
                                rgba($white, 0.9) 50%,
                                transparent 50%),
                     url('../images/nat-10.jpg');
    background-size: cover;
    border-radius: 3px;
    box-shadow: $default-box-shadow;

    @include respond(tab-land) {
    background-image: linear-gradient(105deg,
                                rgba($white, 0.9) 0%,
                                rgba($white, 0.9) 65%,
                                transparent 65%),
                     url('../images/nat-10.jpg');
    }

    @include respond(tab-port) {
    background-image: linear-gradient(105deg,
                                rgba($white, 0.9) 0%,
                                rgba($white, 0.9) 100%),
                     url('../images/nat-10.jpg');
    }

    &__form {
        width: 50%;
        padding: rem(60);

        @include respond(tab-land) {
            width: 65%;
        }

        @include respond(tab-port) {
            width: 100%;
        }
    }
}
