.wrapper {
    max-width: rem(1140);
    @include m--auto;

    &--b-margin {
        margin-bottom: $gutter-y;

        @include respond(tab-port) {
            margin-bottom: 0;
        }
    }

    @include respond(tab-port) {
        max-width: rem(500);
        padding: 0 rem(30);

        &:not(:last-child) {
            margin-bottom: $gutter-y-small;
        }
    }
}
